/* MJ McElroy
HTML/CSS- PA11
8/14/2023 */

/* Use inline css to edit the icon, check HTML. */

/* Link Styling */

/* unvisited link */
a:link {
    color: red;
    text-decoration: none;
}
  
/* visited link */
a:visited {
    color: rgb(0, 192, 0);
    text-decoration: none;
}
  
/* mouse over link */
a:hover {
    color: orange;
    text-decoration: underline;
    text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.26);
}
  
/* selected link */
a:active {
    color: rgb(240, 204, 0);
    text-decoration: underline;
}

 /* List Styling */

 ol {
    list-style: upper-roman inside;
    background-color: #3399ff;
    color:#ffffff;
    padding: 20px;
 }
 ol li {
    background-color: #71b8ff;
    padding: 5px;
 }

/* Responsive Table */
div {
    overflow-x: auto;
}
    
    table {
    overflow-x: auto;
    font-size: 26px;
    background-color: #3399ff;
    color:#ffffff;
    padding: 20px;
}
table th {
    overflow-x: auto;
    background-color: #3399ff;
    color:#ffffff;
    padding: 10px;
}
table td {
    background-color: #71b8ff;
    padding: 10px;
}