/* MJ McElroy
HTML/CSS- PA12
8/15/2023 */

/* Float Examples */
#float1 {
    display: block;
    float: left;
    border: 2px dashed rgb(156, 156, 156);
    background-color: rgb(235, 235, 235);
    padding: 30px;
    margin: 50px;
}

#float1::after {
    display: table;
    content: "";
    clear: both;
}

#float2 {
    display: block;
    float: right;
    border: 2px dashed rgb(156, 156, 156);
    background-color: rgb(235, 235, 235);
    padding: 30px;
    margin: 50px;
}

/* Clear and Clearfix */
#clear {
    display: block;
    clear: both;
    border: 2px dashed rgb(156, 156, 156);
    background-color: rgb(235, 235, 235);
    padding: 30px;
    margin: 50px;
}

#clearfix {
    display: block;
    clear: both;
    border: 2px dashed rgb(156, 156, 156);
    background-color: rgb(235, 235, 235);
    padding: 30px;
    margin: 50px;
}

#clearfix::after {
    display: table;
    content: "";
    clear: both;
}

/* Inline-block Example */
#inline-block {
    display: inline-block;
    border: 2px dashed rgb(119, 119, 119);
    background-color: rgb(202, 202, 202);
    padding: 30px;
}