#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
}

#menu-button {
    display: block;
    float: right;
    padding: 0 15%;
    background-color: #333;
    color: white;
    border: none;
    font-size: 18px;
}

#navbar ul {
    display: none; /* Hide navigation links on mobile */
    list-style-type: none;
    float: right;
    position: right;
    text-align: right;
    flex-direction: column;
 }

#navbar ul.show {
    display: flex; /* Show navigation links when the button is clicked */
    float: right;
    position: right;
    text-align: left;
    background-color: #333;
    width: 2% 2%;
    list-style-type: none;
}

#navbar li {
    flex-direction: column;
    position: right;
    width: fit-content;
}

#navbar a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

/*styles the hovered over text*/
#navbar a:hover {
    color: rgb(183, 184, 255);
}

section {
    padding: 30px;
}

